.header {
    background-color: #F42C04;
    width: 100%; height: 5vh;
    padding: 6.7px

}

h1 {
  color: #0d3fa2;
  text-align: center;
  font-size: 67px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 6px 8px 30px rgb(148, 13, 13);
}

.header {
    background-image: linear-gradient(to right, red, rgb(255, 255, 255));
    height: 200px;
}

