.header {
    background-color: #a22a12;
    width: 100%; height: 5vh;
    padding: 8.7px

}

h1 {
  color: #F6F5AE;
  text-align: center;
  font-size: 67px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 20px 8px 30px rgb(255, 255, 255);
  height: 89%;
}

.header {
    background-image: linear-gradient(to right, #ae1616);
    height: 200px;
}

