.header {
    background-color: #a22a12;
    width: 100%; height: 5vh;
    padding: 8.7px

}

body {
  background-color: rgb(240, 255, 152);
}

h1 {
  color: rgb(240, 255, 152);
  text-align: center;
  font-size: 67px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  height: 89%;
}

.header {
    background-image: linear-gradient(to right, #0b1c6a);
    height: 200px;
}

h2 {
  font-size: 25px;
  color: rgb(240, 255, 152);
}

h3 {
  color: black;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

P {
  font-size: 30px;
  max-width: 80ch;
}

div.header {
  position: fixed;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: green;
  min-height: 200px;
  transition: min-height 0.3s;
  &.collapsed {
    min-height: 10px;

}

