.header {
    background-color: #a22a12;
    width: 100%; height: 5vh;
    padding: 8.7px

}

body {
  background-color: rgb(240, 255, 152);
}

.header {
    background-image: linear-gradient(to right, #0b1c6a);
    height: 200px;
}

.my-title {
  color: rgb(240, 255, 152);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 89%;
    font-size: 3.6vw; 
    max-block-size: 38px; 
    min-block-size: 24px; 
}


h2 {
  font-size: 25px;
  color: rgb(240, 255, 152);
}

h3 {
  color: black;
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

P {
  font-size: 30px;
}

div.header {
  position: fixed;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: green;
  min-height: 200px;
  transition: min-height 0.3s;
  min-height: 10px;
}

#qualifyimg {
    float: right;
    margin: 0 100px 100px 100px;
}

#world {
  max-width: fit-content;
  min-width: 10px;
}

.triangle-bg {
    position: fixed;
    width: 2;
    height: 5;
    opacity: 40%;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 300px solid #1800ee;
    top: 0;
    right: 0;
    z-index: -1;
}

.triangle-1 {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 60%;
    border-left: 350px solid #e74c3c;
    border-bottom: 350px solid transparent;
    top: 0;
    left: 0;
    z-index: -1;
}

.triangle-2 {
    position: fixed;
    width: 0;
    height: 0;
    border-right: 500px solid #1f9197;
    border-top: 200px solid transparent;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.container {
  display: flex;
  gap: 200px;
}

.board {
  border: 3px solid #333;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 239, 0.3);
  border-radius: 10px;
  text-align: center;
  flex: 1;
  transition: transform 0.3s ease;
  min-width: 100px;
}

.board:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

.header {
    display: flex;
    background-color: lightgray;
    padding: 10px;
}

.header a {
    margin-right: 30px;
    padding: 5px 10px;
    text-decoration: none;
}
















